.form_container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  overflow-x: hidden;
  padding: 0 2rem;
}

.inpt_google input {
  padding: 0.8rem 6rem;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid rgb(199, 195, 195);
  outline: none;
}
.inpt_google input::placeholder {
  color: rgba(0, 0, 0, 0.548);
}
.google_icon {
  position: absolute;
  right: 28%;
  top: 57.3%;
  font-size: 20px;
}
.email_password {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.email_password input {
  padding: 0.8rem 6rem;
  border-radius: 10px;
  outline: none;
  border: 0.2px solid black;
}

.login_btn {
  border: 0px;
  background: red;
  border-radius: 10px;
  outline: none;
  padding: 1rem 9rem;
  color: white;
  font-weight: 800;
  font-size: 17px;
  margin-top: 2rem;
}

.login_info {
  font-size: 17px;
  margin-top: 1rem;
  color: rgb(71, 71, 71);
}
.login_info span {
  color: rgb(85, 85, 226);
  cursor: pointer;
}

.login_form h2 {
  color: rgb(233, 18, 18);
  font-size: 35px;
  margin: 2rem 0;
}
.or {
  text-align: center;
  margin: 1rem 0;
  color: rgb(61, 61, 61);
}

.img_form img {
  height: 600px;
}
